h1 {
  text-align: center;
}
h2 {
  color: blueviolet;
  font-size: 150%;
  font-style: italic;
}

h2.intro {
  text-align: center;
}

p.intro {
  color: aqua;
}

img.intro {
  display: flex;
  justify-content: center;
}

#line2 {
  color: blanchedalmond;
}

.important {
  height: 30%;
  width: 50%;
  color: red;
  text-align: center;
}

.unimportant {
  height: 100%;
  width: 100%;
  color: blue;
  text-align: left;
}

.my-class {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
}

.centered-image {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}