h1 {
  text-align: center;
}
h2 {
  color: blueviolet;
  font-size: 150%;
  font-style: italic;
}

h2.intro {
  text-align: center;
}

p.intro {
  color: aqua;
}

img.intro {
  display: flex;
  justify-content: center;
}

#line2 {
  color: blanchedalmond;
}